	      <div class="row">
		<div class="col-sm-8">
<div class="card">
		    <div class="card-header">Posts</div>
		    		    <div class="card-block">

		<% if (page.posts) { %>
<ul class="home_list">
<% page.posts.forEach(function(post){ %>
   <li class="title_home">
   <small class="text-muted"><%- date(post.date) %></small>
<a href="<%- url_for(post.path) %>"><%- post.title%></a></li>
<% })%>
<ul>
<% } %></div>
</div>
<!--分页 -->
		  <nav>	
		    <ul class="pager">
				<li class="pager-prev <% if(page.current==1){ %>disabled <% } %>"><a href="/<%- page.prev_link %>"><span aria-hidden="true">&larr;</span>Older</a></li>
				<li class="pager-next <% if(page.next==0) {%> disabled <% } %>"><a href="/<%- page.next_link %>">Newer<span aria-hidden="true">&rarr;</span></a></li>
	   		</ul>
			      </nav>
		</div>
		<div class="col-sm-4">
		  <% if (!is_post()) { %>
		  <div class="card">
		    <div class="card-header">About Me </div>

		    <div class="card-block">
		      <h4 class="card-title">Leon He</h4>
		      <h6 class="card-subtitle text-muted"><%- config.subtitle %></h6>
		      <hr/>
		      				      <a href='http://www.catb.org/hacker-emblem/' target="_blank">
<img src='http://www.catb.org/hacker-emblem/glider.png' alt='hacker emblem' /></a>

		      		      <small class="text-muted">文章:<%- site.posts.length%></small>&nbsp;
		       		      <small class="text-muted">分类:<%- site.categories.length%></small> &nbsp;
      		       		      <small class="text-muted">标签:<%- site.tags.length%></small>
		    </div>
		    
		    <% if(config.social){%>
		    <ul class="list-group list-group-flush">
		    
<li class="list-group-item"><a targe="_blank" href ="<%- config.social.github %>
"><img src="/images/github_copyrighted_32px_1169845_easyicon.net.png"/>&nbsp;GitHub</a></li>
<li class="list-group-item"><a href ="<%- config.social.weibo %>
"><img src="/images/weibo_39.129973474801px_1193419_easyicon.net.png"/>&nbsp;微博</a></li>
<li class="list-group-item"><a href ="<%- config.social.douban %>
"><img src="/images/douban_32px_1193382_easyicon.net.png"/>&nbsp;豆瓣</a></li>


		      <% } %>
	
		    </ul>
		  </div>
		<% } %>
		
<div id="gr_challenge_3890" style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0px 7px 0px 7px; max-width:230px; min-height: 100px">
  <div id="gr_challenge_progress_body_3890" style="font-size: 12px; font-family: georgia,serif;line-height: 18px">
      <h3 style="margin: 4px 0 10px; font-weight: normal; text-align: center">
          <a style="text-decoration: none; font-family:georgia,serif;font-style:italic; font-size: 1.1em" href="https://www.goodreads.com/challenges/3890-2016-reading-challenge">2016 Reading Challenge</a>
      </h3>
  <div class="challengePic">
  <a href="https://www.goodreads.com/challenges/3890-2016-reading-challenge"><img alt="2016 Reading Challenge" style="float:left; margin-right: 10px; border: 0 none" src="https://d.gr-assets.com/challenges/1451432479p2/3890.jpg" /></a>
 </div>
	        <div>
        <a href="https://www.goodreads.com/user/show/58307795-leon">Leon</a> has
							             read 0 books toward
								                  his goal of
										               20 books.
											             </div>
												           <div style="width: 100px; margin: 4px 5px 5px 0; float: left; border: 1px solid #382110; height: 8px; overflow: hidden; background-color: #FFF">
													           <div style="width: 0%; background-color: #D7D2C4; float: left"><span style="visibility:hidden">hide</span></div>
														         </div>
															       <div style="font-family: arial, verdana, helvetica, sans-serif;font-size:90%">
															               <a href="https://www.goodreads.com/user_challenges/6135996">0 of 20 (0%)</a>
																             </div>
																	             <div style="text-align: right;">
																		               <a style="text-decoration: none; font-size: 10px;" href="https://www.goodreads.com/user_challenges/6135996">view books</a>
																			               </div>
																				         </div>
																						<script src="https://www.goodreads.com/user_challenges/widget/58307795-leon?challenge_id=3890&v=2"></script>
																						</div>
																						
		</div>		
